[Desktop Entry]
Name=Nowspide
Comment=Handy and modern desktop feed reader
TryExec=nowspide
Exec=nowspide
Icon=gtk-info
StartupNotify=true
Terminal=false
Type=Application
Categories=GNOME;GTK;Network;News;
